<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="{{ app.request.locale }}"><!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Title{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- For all browsers -->
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/reset3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/style3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/colors3860.css?v=1') }}">
        <link rel="stylesheet" media="print" href="{{ asset('bundles/coramersigtecweb/frontend/css/print3860.css?v=1') }}">
        <!-- For progressively larger displays -->
        <link rel="stylesheet" media="only all and (min-width: 480px)" href="{{ asset('bundles/coramersigtecweb/frontend/css/4803860.css?v=1') }}">
        <link rel="stylesheet" media="only all and (min-width: 768px)" href="{{ asset('bundles/coramersigtecweb/frontend/css/7683860.css?v=1') }}">
        <link rel="stylesheet" media="only all and (min-width: 992px)" href="{{ asset('bundles/coramersigtecweb/frontend/css/9923860.css?v=1') }}">
        <link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{ asset('bundles/coramersigtecweb/frontend/css/12003860.css?v=1') }}">
        <!-- For Retina displays -->
        <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{ asset('bundles/coramersigtecweb/frontend/css/2x3860.css?v=1') }}">

        <!-- Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

        <!-- Additional styles -->
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/agenda3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/dashboard3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/form3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/modal3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/progress-slider3860.css?v=1') }}">
        <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/switches3860.css?v=1') }}">
        {% stylesheets '@CoramerSigtecWebBundle/Resources/assets/css/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- JavaScript at bottom except for Modernizr -->
        <script src="{{ asset('bundles/coramersigtecweb/frontend/js/libs/modernizr.custom.js') }}"></script>

        <!-- For Modern Browsers -->
        <link rel="shortcut icon" href="{{ asset('bundles/coramersigtecweb/frontend/img/favicons/favicon.png') }}">
        <!-- For everything else -->
        <link rel="shortcut icon" href="{{ asset('bundles/coramersigtecweb/frontend/img/favicons/favicon.ico') }}">
        <!-- For retina screens -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/coramersigtecweb/frontend/img/favicons/apple-touch-icon-retina.png') }}">
        <!-- For iPad 1-->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/coramersigtecweb/frontend/img/favicons/apple-touch-icon-ipad.png') }}">
        <!-- For iPhone 3G, iPod Touch and Android -->
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/coramersigtecweb/frontend/img/favicons/apple-touch-icon.png') }}">

        <!-- iOS web-app metas -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/coramersigtecweb/frontend/img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/coramersigtecweb/frontend/img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/coramersigtecweb/frontend/img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">

        <!-- Microsoft clear type rendering -->
        <meta http-equiv="cleartype" content="on">

        <!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
        <meta name="application-name" content="Developr Admin Skin">
        <meta name="msapplication-tooltip" content="Cross-platform admin template.">
        <meta name="msapplication-starturl" content="http://www.display-inline.fr/demo/developr">
        <!-- These custom tasks are examples, you need to edit them to show actual pages -->
        <meta name="msapplication-task" content="name=Agenda;action-uri=http://www.display-inline.fr/demo/developr/agenda.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
        <meta name="msapplication-task" content="name=My profile;action-uri=http://www.display-inline.fr/demo/developr/profile.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
    </head>

    <body class="clearfix with-menu with-shortcuts">

        <!-- Prompt IE 6 users to install Chrome Frame -->
        <!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <!-- Title bar -->
        <header role="banner" id="title-bar">
            <h2>{% block appTitle %}Sigtec{% endblock %}</h2>
        </header>

        <!-- Button to open/hide menu -->
        <a href="javascript:void(0);" id="open-menu"><span>Menu</span></a>

        <!-- Button to open/hide shortcuts -->
        <a href="javascript:void(0);" id="open-shortcuts"><span class="icon-thumbs"></span></a>

        <!-- Main content -->
        <section role="main" id="main">

            <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>
            {% block content %}
                {% block mainTitle %}
                    <hgroup id="main-title" class="thin">
                            <h1>Dashboard</h1>
                            <h2>nov <strong>10</strong></h2>
                    </hgroup>
                {% endblock %}
                Contenido (Sobrescribir el bloque content)
            {% endblock %}


        </section>
        <!-- End main content -->
        
        <!-- Side tabs shortcuts -->
        {% include 'CoramerSigtecWebBundle:Layout:_side-tabs-shortcuts.html.twig' %}

        <!-- Sidebar/drop-down menu -->
        {% include 'CoramerSigtecWebBundle:Layout:_sidebar-drop-down-menu.html.twig' %}
        <!-- End sidebar/drop-down menu -->

        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Scripts -->
        <script src="{{ asset('bundles/coramersigtecweb/frontend/js/libs/jquery-1.8.2.min.js') }}"></script>
        <script src="{{ asset('bundles/coramersigtecweb/frontend/js/setup.js') }}"></script>

        <!-- Template functions -->
        {% block templateFunctions %}
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.input.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.message.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.modal.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.navigable.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.notify.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.scroll.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.progress-slider.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.tooltip.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.confirm.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.agenda.js') }}"></script>
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.tabs.js') }}"></script>		<!-- Must be loaded last -->
        
            <!-- Tinycon -->
            <script src="{{ asset('bundles/coramersigtecweb/frontend/js/libs/tinycon.min.js') }}"></script>
        {% endblock %}


        <script>

            // Call template init (optional, but faster if called manually)
            $.template.init();

            // Favicon count
            Tinycon.setBubble(2);

            // If the browser support the Notification API, ask user for permission (with a little delay)
            if (notify.hasNotificationAPI() && !notify.isNotificationPermissionSet())
            {
                setTimeout(function()
                {
                    notify.showNotificationPermission('Your browser supports desktop notification, click here to enable them.', function()
                    {
                        // Confirmation message
                        if (notify.hasNotificationPermission())
                        {
                            notify('Notifications API enabled!', 'You can now see notifications even when the application is in background', {
                                icon: '{{ asset('bundles/coramersigtecweb/frontend/img/demo/icon.png') }}',
                                system: true
                            });
                        }
                        else
                        {
                            notify('Notifications API disabled!', 'Desktop notifications will not be used.', {
                                icon: '{{ asset('bundles/coramersigtecweb/frontend/img/demo/icon.png') }}'
                            });
                        }
                    });

                }, 2000);
            }
        </script>
    </body>
</html>