{% trans_default_domain 'FOSUserBundle' %}
{% import 'CoramerSigtecResourceBundle:Macros:buttons.html.twig' as buttons %}

<hgroup id="main-title" class="thin breadcrumb">
    <h1>
        <a href="{{ path('coramer_sigtec_backend_company_index') }}">{{ 'sigtec.profile'|trans }}</a>
    </h1>
</hgroup>
    <fieldset class="fieldset">
        <legend class="legend">{{ 'sigtec.details'|trans }}</legend>
        <p class="inline-label">
            <label class="label">{{ 'profile.show.username'|trans }}</label>
            {{ user.username }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.first_name'|trans }}</label>
            {{ user.firstName }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.last_name'|trans }}</label>
            {{ user.lastName }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'profile.show.email'|trans }}</label>
            {{ user.email }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.quantity_companies'|trans }}</label>
            {{ user.companies | length }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.companies'|trans }}</label>
            {% for company in user.companies %}

                {% set separator = '' %}
                {% if loop.last  %}
                    {% set separator = '.' %}
                {% else %}
                    {% set separator = ',' %}
                {% endif %}
                <a href="{{ path('coramer_sigtec_backend_company_show',{id:company.id}) }}" title="{{ company.name }}" >{{ company.rif }}</a>{{ separator }}
            {% endfor %}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.profile.registed_at'|trans }}</label>
            {{ user.createdAt | date('Y-m-d h:i a') }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.profile.last_login'|trans }}</label>
            {{ user.lastLogin ? user.lastLogin | date('Y-m-d h:i a') : null }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.profile.groups'|trans }}</label>
            {% for group in user.groups %}
                {{ group }}
            {% endfor %}
        </p>
        
    </fieldset>
<p class="button-height align-right">
    {{ buttons.generic(path('fos_user_change_password'),'sigtec.profile.update_password','icon-card') }}
    {{ buttons.edit(path('fos_user_profile_edit')) }}
</p>