{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/tableFormat1.html.twig' %}
{% block title %}- {{ 'sigtec.company.report_technical'|trans }}{% endblock %}

{% if route_index is not defined %}
    {% set route_index = 'coramer_sigtec_backend_company_report_technical_index' %}
{% endif %}
{% if allow_create is not defined %}
    {% set allow_create = false %}
{% endif %}

{% block body %}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path(route_index) }}">{{ 'sigtec.company.report_technical'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'sigtec.list'|trans }}</span>
            {% if allow_create %}
                <p class="button-height align-right">
                    <button type="button" class="button" onclick="openComplexModal()">
                        <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                        {{ 'sigtec.create'|trans }}
                    </button>
                </p>
            {% endif %}
        </h1>
    </hgroup>
    <div ng-controller="TableFormatController">
        <div ng-controller="CompanyIndexController">
                <div loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path(route_index,{_format:'json'}) }}" class="table table-responsive table-extra-info">
                        <tr ng-repeat="result in $data | filter:tableParams.search" data="[[ result|json ]]">
                            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                                <input type="checkbox" ng-model="checkboxes.items[result.id]" />
                            </td>
                            <td data-title="'{{ 'sigtec.archive'|trans }}'" sortable="'archive'">
                                <a href="[[ result._links.self.href ]]">[[result.archive]]</a>
                            </td>
                            <td data-title="'{{ 'sigtec.company'|trans }}'" sortable="'company'">
                                <a href="[[ result.company._links.self.href ]]" title="[[ result.company.name ]]" >[[result.company.rif]]</a>
                            </td>
                            <td data-title="'{{ 'sigtec.status'|trans }}'" sortable="'status'">
                                <small ng-if="result.status == 0" class="tag orange-bg">{{ 'sigtec.status.in_progress'|trans }}</small> 
                                <small ng-if="result.status == 1" class="tag red-bg">{{ 'sigtec.status.canceled'|trans }}</small>
                                <small ng-if="result.status == 2" class="tag green-bg">{{ 'sigtec.status.approved'|trans }}</small>
                                <small ng-if="result.status == 3" class="tag red-bg">{{ 'sigtec.status.rejected'|trans }}</small>
                            </td>
                            <td class="low-padding">
                                <span class="select compact full-width" tabindex="0">
                                    <a href class="select-value form-edit">{{ 'sigtec.actions'|trans }}</a>
                                    <span class="select-arrow"></span>
                                    <span class="drop-down">
                                        <a href ng-click="itemEdit(result._links.edit.href)" >{{ 'sigtec.edit'|trans }}</a>
                                        <a href ng-click="itemDelete(result._links.delete.href)" >{{ 'sigtec.delete'|trans }}</a>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function getTableExtraInfo(data)
            {
                return  '<strong>{{ 'sigtec.company'|trans }}:</strong> ' + data.company.name + '<br>' +
                        '<strong>{{ 'sigtec.created_at' |trans }}:</strong> ' + data.created_at + '<br>' +
                        '<strong>{{ 'sigtec.updated_at' | trans }}:</strong> ' + data.updated_at + '<br>'
                        ;
            }
        {% if allow_create %}
            function openComplexModal()
            {
                var content = '<fieldset class="fieldset fields-list">\n\
                                <legend class="legend">{{ 'sigtec.company'|trans }}</legend>\n\
                                <form id="form_company" action="{{ path('coramer_sigtec_backend_company_report_technical_create') }}" method="POST">\n\
                                <div class="field-block button-height">\n\
                                {{ form_label(form_company.company) }}{{ form_widget(form_company.company) }}'+
                                '{{ form_errors(form_company.company) }}{{ form_rest(form_company) }}</div></form>\n\
                              </fieldset>';
                    $.modal({
                            content: content,
                            //title: 'Complex modal window',

                            scrolling: false,
                            actions: {
                                    'Close' : {
                                            color: 'red',
                                            click: function(win) { win.closeModal(); }
                                    },
                                    'Center' : {
                                            color: 'green',
                                            click: function(win) { win.centerModal(true); }
                                    }
                            },
                            buttons: {
                                    '{{ 'sigtec.cancel'|trans }}': {
                                            classes:	'button glossy',
                                            click:		function(win) { win.closeModal(); }
                                    },
                                    '{{ 'sigtec.create'|trans }}': {
                                            classes:	'button blue-gradient glossy mid-margin-left',
                                            click:		function(win) { $("#form_company").submit(); }
                                    }
                            },
                            buttonsLowPadding: true
                    });
            };
        {% endif %}
    </script>
{% endblock %}