{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/tableFormat1.html.twig' %}
{% block title %}- {{ 'sigtec.company.report_technical'|trans }}{% endblock %}
{% block body %}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('coramer_sigtec_backend_company_index') }}">{{ 'sigtec.company'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'sigtec.list'|trans }}</span>
            <p class="button-height align-right">
                <a href="{{ path('coramer_sigtec_backend_company_create') }}" class="button">
                        <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                        {{ 'sigtec.create'|trans }}
                </a>
            </p>
        </h1>
    </hgroup>
    <div ng-controller="TableFormatController">
        <div ng-controller="CompanyIndexController">
                <div loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('coramer_sigtec_backend_company_report_technical_index',{_format:'json'}) }}" class="table table-responsive table-extra-info">
                        <tr ng-repeat="result in $data | filter:tableParams.search" data="[[ result|json ]]">
                            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                                <input type="checkbox" ng-model="checkboxes.items[result.id]" />
                            </td>
                            <td data-title="'{{ 'sigtec.archive'|trans }}'" sortable="'archive'">
                                <a href="[[ result._links.self.href ]]">[[result.archive]]</a>
                            </td>
                            <td data-title="'{{ 'sigtec.company'|trans }}'" sortable="'company'" >
                                <a href="[[ result.company._links.self.href ]]" title="[[ result.company.name ]]" >[[result.company.rif]]</a>
                            </td>
                            <td data-title="'{{ 'sigtec.status'|trans }}'" sortable="'status'">
                                <small ng-if="result.status == 0" class="tag orange-bg">{{ 'sigtec.status.in_progress'|trans }}</small> 
                                <small ng-if="result.status == 1" class="tag red-bg">{{ 'sigtec.status.canceled'|trans }}</small>
                                <small ng-if="result.status == 2" class="tag green-bg">{{ 'sigtec.status.approved'|trans }}</small>
                                <small ng-if="result.status == 3" class="tag red-bg">{{ 'sigtec.status.rejected'|trans }}</small>
                            </td>
                            <td class="low-padding">
                                <span class="select compact full-width" tabindex="0">
                                    <a href class="select-value form-edit">{{ 'sigtec.actions'|trans }}</a>
                                    <span class="select-arrow"></span>
                                    <span class="drop-down">
                                        <a href ng-click="itemEdit(result._links.edit.href)" >{{ 'sigtec.edit'|trans }}</a>
                                        <a href ng-click="itemDelete(result._links.delete.href)" >{{ 'sigtec.delete'|trans }}</a>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function getTableExtraInfo(data)
            {
                return  '<div class="float-right">' +
                        '<button type="submit" class="button glossy mid-margin-right">' +
                        '<span class="button-icon"><span class="icon-mail"></span></span>' +
                        'Send mail' +
                        '</button>' +
                        '<button type="submit" class="button glossy">' +
                        '<span class="button-icon red-gradient"><span class="icon-cross"></span></span>' +
                        'Remove' +
                        '</button>' +
                        '</div>' +
                        '<strong>{{ 'sigtec.company'|trans }}:</strong> ' + data.company.name + '<br>' +
                        '<strong>{{ 'sigtec.created_at' |trans }}:</strong> ' + data.created_at + '<br>' +
                        '<strong>{{ 'sigtec.updated_at' | trans }}:</strong> ' + data.updated_at + '<br>'
                        ;
            }
    </script>
{% endblock %}