{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block body -%}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('coramer_sigtec_backend_company_report_technical_client_index') }}">{{ 'sigtec.company.report_technical'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_show',{id:company_report_technical.company.id}) }}">{{ company_report_technical.company.rif }}</a></span>
        </h1>
    </hgroup>
    <fieldset class="fieldset">
        <legend class="legend">{{ 'sigtec.company.report_technical'|trans }}</legend>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.company'|trans }}</label>
            <a href="{{ path('coramer_sigtec_backend_company_show',{id:company_report_technical.company.id}) }}">{{ company_report_technical.company.rif }}</a>
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.archive'|trans }}</label>
            {{ company_report_technical.archive }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.status'|trans }}</label>
            {% if company_report_technical.status == constant('Coramer\\Sigtec\\ReportTechnicalBundle\\Entity\\ReportTechnical::STATUS_IN_PROGRESS') %}
                <small class="tag orange-bg">{{ 'sigtec.status.in_progress'|trans }}</small>                 
            {% elseif company_report_technical.status == constant('Coramer\\Sigtec\\ReportTechnicalBundle\\Entity\\ReportTechnical::STATUS_CANCELED') %}
                <small class="tag red-bg">{{ 'sigtec.status.canceled'|trans }}</small>
            {% elseif company_report_technical.status == constant('Coramer\\Sigtec\\ReportTechnicalBundle\\Entity\\ReportTechnical::STATUS_APPROVED') %}
                <small class="tag green-bg">{{ 'sigtec.status.approved'|trans }}</small>
            {% elseif company_report_technical.status == constant('Coramer\\Sigtec\\ReportTechnicalBundle\\Entity\\ReportTechnical::STATUS_REJECTED') %}
                <small class="tag red-bg">{{ 'sigtec.status.rejected'|trans }}</small>
            {% endif%}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.created_at'|trans }}</label>
            {{ company_report_technical.createdAt|date('Y-m-d h:i a') }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.updated_at'|trans }}</label>
            {{ company_report_technical.updatedAt|date('Y-m-d h:i a') }}
        </p>
    </fieldset>
    <p class="button-height align-right">
        {% if is_granted('ROLE_SUPER_USER') %}
            {{ buttons.generic(null,'sigtec.report_technical.approve','icon-tick',{'translation_domain':'CoramerSigtecReportTechnicalBundle'}) }}
            {{ buttons.generic(null,'sigtec.report_technical.reject','icon-cross',{'translation_domain':'CoramerSigtecReportTechnicalBundle','gradient':'red-gradient'}) }}
        {% endif %}
        {{ buttons.edit(path('coramer_sigtec_backend_company_report_technical_update', { 'id': company_report_technical.id })) }}
        {{ buttons.delete(path('coramer_sigtec_backend_company_report_technical_delete', { 'id': company_report_technical.id })) }}
    </p>
{% endblock %}
