{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'CoramerSigtecReportTechnicalBundle' %}

{% import 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
    <!-- jQuery Form Validation -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/developr.validationEngine3860.css?v=1') }}">
{% endblock stylesheets %}

{% block body -%}
    {{ form_errors(form) }}
    <div class="full-page-wizard" ng-controller="ReportTechnicalController">
	<form method="POST" id="form_company_report_technical" action="{{ path('coramer_sigtec_backend_company_report_technical_update',{ id:company_report_technical.id }) }}" class="block wizard same-height">
            <input ng-init="loadReportTechnical({{ company_report_technical.id }});" type="hidden" name="_method" value="PUT" />
		<h3 class="block-title breadcrumb">
                    <a href="{{ path('coramer_sigtec_backend_company_report_technical_client_index') }}">{{ 'sigtec.company.report_technical'|trans({},'messages') }}</a>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_show',{id:company_report_technical.company.id}) }}">{{ company_report_technical.company.rif }}</a></span>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_report_technical_show',{id:company_report_technical.id}) }}">{{ company_report_technical.archive }}</a></span>
                </h3>

		<fieldset class="wizard-fieldset fields-list">

                        <legend class="legend">{{ 'sigtec.professional_profile'|trans }}</legend>

			<div class="field-block">
				<h3>1) {{ 'sigtec.professional_profile'|trans }}</h3>
				<p>{{ 'sigtec.help.professional_profile.professional_profile'|trans({},'help') }}:</p>
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityProfessionals) }}
                                {{ form_widget(form.professionalProfile.quantityProfessionals) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_professionals'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityProfessionals) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityTechnical) }}
                                {{ form_widget(form.professionalProfile.quantityTechnical) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_technical'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityTechnical) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityLaborers) }}
                                {{ form_widget(form.professionalProfile.quantityLaborers) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_laborers'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityLaborers) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityOther) }}
                                {{ form_widget(form.professionalProfile.quantityOther) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_other'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityOther) }}
			</div>
                        <div class="field-drop button-height black-inputs">
                            <label class="label"><b>{{ 'sigtec.total_employees'|trans }}</b></label>
                            <label><b>[[ reportTechnical.professional_profile.total ]]</b></label>
                        </div>
                            
                        {# Seccion 2 #}
                        <div class="field-block">
                            <h3>2) {{ 'sigtec.description_of_the_business_areas.description_of_the_business_areas'|trans }}</h3>
                            <p>{{ 'sigtec.help.description_of_the_business_areas.description_of_the_business_areas'|trans({},'help') }}.</p>
			</div>
                        <div class="field-block">
                            <h5>2.1) {{ 'sigtec.description_of_the_business_areas.general_production_and_storage'|trans }}</h5>
                            <p>{{ 'sigtec.help.description_of_the_business_areas.general_production_and_storage'|trans({},'help') }}:</p>
			</div>
                        <div class="field-block">
                            <table class="simple-table">
                                <tr>
                                    <th></th> 
                                    <th>{{ 'sigtec.table.header.total'|trans|raw }}</th> 
                                    <th>{{ 'sigtec.table.header.covered'|trans|raw }}</th>
                                </tr>
                                {% for plantDescription in form.descriptionAreaCompany.plantsDescription %}
                                    <tr>
                                        <td colspan="4">
                                            {{ form_widget(plantDescription.plant,{'attr':{'class': 'input-unstyled bold'} }) }}
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ plantDescription.area.descriptionArea.description.vars['value'] }}
                                            {% set dummy = plantDescription.area.descriptionArea.description.setRendered() %}
                                        </td> 
                                        <td>
                                            {{ form_widget(plantDescription.area.totalArea) }}
                                            {{ form_errors(plantDescription.area.totalArea) }}
                                        </td>
                                        <td>
                                            {{ form_widget(plantDescription.area.coveredArea) }}
                                            {{ form_errors(plantDescription.area.coveredArea) }}
                                        </td>
                                        <td>
                                            <span class="info-spot on-left">
                                                <span class="icon-info-round"></span>
                                                <span class="info-bubble">
                                                    {{ plantDescription.area.descriptionArea.help.vars['value']|trans({},'help')|raw }}
                                                    {% set dummy = plantDescription.area.descriptionArea.help.setRendered() %}
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    {% for area in plantDescription.area.areas %}
                                        <tr>
                                            <td>
                                                {{ area.descriptionArea.description.vars['value'] }}
                                                {% set dummy = area.descriptionArea.description.setRendered() %}
                                            </td> 
                                            <td>
                                                {{ form_widget(area.totalArea) }}
                                                {{ form_errors(area.totalArea) }}
                                            </td>
                                            <td>
                                                {{ form_widget(area.coveredArea) }}
                                                {{ form_errors(area.coveredArea) }}
                                            </td>
                                            <td>
                                                <span class="info-spot on-left">
                                                    <span class="icon-info-round"></span>
                                                    <span class="info-bubble">
                                                        {{ area.descriptionArea.help.vars['value']|trans({},'help')|raw }}
                                                        {% set dummy = area.descriptionArea.help.setRendered() %}
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">&nbsp;</td> 
                                    </tr>
                                {% endfor %}
                            </table>
			</div>
                                
                        <div class="field-block">
                            <h5>2.2) {{ 'sigtec.description_of_the_business_areas.storage_product_detail'|trans }}</h5>
                            <p>{{ 'sigtec.help.description_of_the_business_areas.storage_product_detail'|trans({},'help') }}:</p>
			</div>
                        <div class="field-block">
                            <table class="simple-table table-responsive table-extra-info" get-table-info="getTableExtraInfoSection2">
                                <tr>
                                    <th>{{ 'sigtec.table.header.material'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.storage'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.plant'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.dedication'|trans|raw }}</th> 
                                    <th>&nbsp;</th>
                                </tr>
                                <tr ng-hide="reportTechnical.description_area_company.detail_product_storages">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-hide="reportTechnical.description_area_company.detail_product_storages">
                                    <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.storage'|trans }}</td>
                                </tr>
                                <tr ng-hide="reportTechnical.description_area_company.detail_product_storages">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-repeat="detail_product_storage in reportTechnical.description_area_company.detail_product_storages" data="[[ detail_product_storage|json ]]">
                                    <td><a href ng-click="addDetailsStorage(detail_product_storage)" >[[ detail_product_storage.material.description ]]</a></td>
                                    <td>[[ detail_product_storage.labels.storage ]]</td>
                                    <td>[[ detail_product_storage.plant.name ]]</td>
                                    <td>[[ detail_product_storage.dedication.description ]]</td>
                                    <td>
                                        <span class="button-group compact">
                                            <a href ng-click="itemDelete(detail_product_storage._links.delete.href,reportTechnicalManager.reload().detailProductStorage)" class="button icon-trash with-tooltip confirm" title="Eliminar"></a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <br/>    
                            <p class="button-height align-right">
                                <a href ng-click="addDetailsStorage()" class="button glossy mid-margin-right">
                                    <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                                    {{ 'sigtec.button.add_detail'|trans }}
                                </a>
                            </p>
			</div>
                        {# Seccion 3 #}
                        <div class="field-block">
                            <h3>3) {{ 'sigtec.production_level.production_level'|trans }}</h3>
                            <p>{{ 'sigtec.help.production_level.production_level'|trans({},'help') }}</p>
			</div>
                        <div class="field-block">
                            <table class="simple-table table-responsive table-extra-info">
                                <tr>
                                    <td colspan="5" class="align-center"><b>{{ 'sigtec.table.header.production_capacity'|trans }}</b></td>
                                </tr>
                                <tr>
                                    <th>{{ 'sigtec.table.header.process'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.shifts'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.hours'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.days_month'|trans|raw }}</th> 
                                    <th>&nbsp;</th>
                                </tr>
                                <tr ng-hide="reportTechnical.production_levels">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-hide="reportTechnical.production_levels">
                                    <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.production_level'|trans }}</td>
                                </tr>
                                <tr ng-hide="reportTechnical.production_levels">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-repeat="production_level in reportTechnical.production_levels" data="[[ production_level|json ]]">
                                    <td><a href ng-click="addLevelProduction(production_level)" >[[ production_level.process.description ]]</a></td>
                                    <td>[[ production_level.shifts ]]</td>
                                    <td>[[ production_level.hours ]]</td>
                                    <td>[[ production_level.days_month]]</td>
                                    <td>
                                        <span class="button-group compact">
                                            <a href ng-click="itemDelete(production_level._links.delete.href,reportTechnicalManager.reload().productionLevel)" class="button icon-trash with-tooltip confirm" title="Eliminar"></a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <br/>    
                            <p class="button-height align-right">
                                <a href ng-click="addLevelProduction()" class="button glossy mid-margin-right">
                                    <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                                    {{ 'sigtec.button.add_detail'|trans }}
                                </a>
                            </p>
			</div>
                        {# Seccion 4 #}
                        <div class="field-block">
                            <h3>4) {{ 'sigtec.description_of_products_manufactured.description_of_products_manufactured'|trans }}</h3>
                            <p>{{ 'sigtec.help.description_of_products_manufactured.description_of_products_manufactured'|trans({},'help') }}</p>
			</div>
                        <div class="field-block">
                            <table class="simple-table table-responsive table-extra-info" get-table-info="getTableExtraInfoSection4" >
                                <tr>
                                    <th>{{ 'sigtec.table.header.process'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.product'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.resin'|trans }}</th>
                                    <th>{{ 'sigtec.table.header.grade'|trans|raw }}</th> 
                                    <th>&nbsp;</th>
                                </tr>
                                <tr ng-hide="reportTechnical.products_manufactured">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-hide="reportTechnical.products_manufactured">
                                    <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.product_manufactured'|trans }}</td>
                                </tr>
                                <tr ng-hide="reportTechnical.products_manufactured">
                                    <td colspan="5" class="bold text-center">&nbsp;</td>
                                </tr>
                                <tr ng-repeat="product_manufactured in reportTechnical.products_manufactured" data="[[ product_manufactured|json ]]">
                                    <td><a href ng-click="addProductManufactured(product_manufactured)" >[[ product_manufactured.process.description ]]</a></td>
                                    <td>[[ product_manufactured.product.description ]]</td>
                                    <td>[[ product_manufactured.grade.resin.description ]]</td>
                                    <td>[[ product_manufactured.grade.description ]]</td>
                                    <td>
                                        <span class="button-group compact">
                                            <a href ng-click="itemDelete(product_manufactured._links.delete.href,reportTechnicalManager.reload().productManufactured)" class="button icon-trash with-tooltip confirm" title="Eliminar"></a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <br/>    
                            <p class="button-height align-right">
                                <a href ng-click="addProductManufactured()" class="button glossy mid-margin-right">
                                    <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                                    {{ 'sigtec.button.add_detail'|trans }}
                                </a>
                            </p>
			</div>
                        <div class="field-block button-height wizard-controls align-right">

				<a href ng-click="save()" class="button glossy mid-margin-right">
                                    <span class="button-icon green-gradient"><span class="icon-tick"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save'|trans({},'messages') }}
				</a>
				<button type="submit" class="button glossy mid-margin-right">
					<span class="button-icon red-gradient glossy"><span class="icon-cross-round"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save_and_close'|trans({},'messages') }}
				</button>
			</div>
                            {{ form_rest(form) }}
                        <div class="hide" style="display: none">
                            <div id="div-template" ng-include="template.url" onload="templateLoad(template)" ></div>
                        </div>
		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend"></legend>

			<div class="field-block button-height">
				<small class="input-info">This is the name that will be displayed on profile page</small>
				<label for="login" class="label"><b>User login</b></label>
				<input type="text" name="login" id="login" value="" class="input validate[required,custom[onlyLetterNumber]]">
			</div>

			<div class="field-block button-height">
				<label for="file" class="label"><b>Avatar</b> (*.jpg)</label>
				<span class="input file"><span class="file-text"></span><span class="button compact">Select file</span><input type="file" name="file-input" id="file-input" value="" class="file withClearFunctions"></span>
				<small class="input-info">Max file size: 2MB</small>
			</div>

			<div class="field-drop button-height black-inputs">
				<label for="resize_height" class="label"><b>Resize height</b> (in px)</label>
				<span class="number input margin-right">
					<button type="button" class="button number-down">-</button>
					<input type="text" name="resize_height" id="resize_height" value="320" class="input-unstyled" data-number-options='{"min":100,"max":400}'>
					<button type="button" class="button number-up">+</button>
				</span>

				<input type="checkbox" name="crop" id="crop" class="switch medium" checked="checked"> &nbsp; <label for="crop">Enable crop</label>
			</div>
                        

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend"></legend>

			<div class="field-block button-height">
				<label for="mail" class="label"><b>Mail</b></label>
				<input type="text" name="mail" id="mail" value="" class="input validate[required,custom[email]]">
			</div>

			<div class="field-block button-height">
				<label for="twitter" class="label"><b>Twitter username</b></label>
				<input type="text" name="twitter" id="twitter" value="" class="input">
			</div>

			<div class="field-block button-height">
				<label for="mobile" class="label"><b>Mobile Phone</b></label>
				<input type="text" name="mobile" id="mobile" value="" class="input">
			</div>

			<div class="field-block button-height">
				<span class="label"><b>Address</b></span>
				<input type="text" name="street" id="street" value="" class="input" placeholder="Street"><br>
				<input type="text" name="zip_code" id="zip_code" value="" class="input" placeholder="Zip" size="3"> <input type="text" name="city" id="city" value="" class="input" placeholder="City"><br>
				<select name="country" class="select">
					<option value="USA">USA</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="Afghanistan">Afghanistan</option>
					
				</select>
			</div>

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Preferences</legend>

			<div class="field-block button-height">
				<label for="newsletter" class="label"><b>Subscribe to newsletter</b></label>
				<input type="checkbox" name="newsletter" id="newsletter" value="1" class="switch" checked data-text-on="YES" data-text-off="NO">
			</div>

			<div class="field-block button-height">
				<label for="newsletter_html" class="label"><b>Newsletter format</b></label>
				<input type="checkbox" name="newsletter_html" id="newsletter_html" value="1" class="switch wide orange-active" checked data-text-on="HTML" data-text-off="TEXT">
				<small class="input-info">If you are not sure, use HTML</small>
			</div>

			<div class="field-block button-height">
				<span class="label"><b>Mail notifications</b></span>
				<input type="checkbox" name="notifications[]" id="notifications_mention" value="mention" class="checkbox"> <label for="notifications_mention">When I am mentioned</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_message" value="message" class="checkbox"> <label for="notifications_message">When someone sends me a message</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_reply" value="reply" class="checkbox"> <label for="notifications_reply">When someone replies to one of my messages</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_reviewed" value="reviewed" class="checkbox"> <label for="notifications_reviewed">When a new review is published on one of my products</label>
			</div>

			<div class="field-block button-height wizard-controls align-right">

				<button type="submit" class="button glossy mid-margin-right">
					<span class="button-icon"><span class="icon-tick"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save'|trans }}
				</button>

			</div>

		</fieldset>

	</form>

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>

		$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).bind('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			//centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
                        // Form validation
                        $('form').validationEngine();
		});

	</script>
        <script type="text/javascript">
        $.fn.wizard.defaults = {
		/**
		 * Default title for fieldsets without legend (use % as a placeholder for step's number)
		 * @var string
		 */
		defaultTitle: '{{ 'tecnocreaciones_vzla_government.step'|trans({},'messages') }} %',

		/**
		 * Structure for navigation buttons. Will be ignored for steps with a .wizard-controls block.
		 * @var string
		 */
		controlsWrapper: '<div class="field-block button-height wizard-controls clearfix"></div>',

		/**
		 * Previous button markup - must use class 'wizard-prev'
		 * @var string
		 */
		controlPrev: '<button type="button" class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{ 'tecnocreaciones_vzla_government.back'|trans({},'messages') }}</button>',

		/**
		 * Next button markup - must use class 'wizard-next'
		 * @var string
		 */
		controlNext: '<button type="button" class="button glossy mid-margin-right wizard-next float-right">{{ 'tecnocreaciones_vzla_government.next'|trans({},'messages') }}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>'
	};
        
        $.modal.defaults.showFormOptions.textCancel = '{{ 'sigtec.cancel'|trans({},'messages') }}';
        $.modal.defaults.showFormOptions.textSubmit = '{{ 'sigtec.save'|trans({},'messages') }}';
    </script>
    <script type="text/javascript">
        function getTableExtraInfo(data)
        {
            return  '<strong>{{ 'sigtec.table.header.capacity'|trans }}</strong><br/><br/>' +
                    '<strong>{{ 'sigtec.table.header.theoretical'|trans }}:</strong> ' + data.theoretical + '<br>' +
                    '<strong>{{ 'sigtec.table.header.installed' |trans }}:</strong> ' + data.installed + '<br>' +
                    '<strong>{{ 'sigtec.table.header.busy' | trans }}:</strong> ' + data.busy + '<br>' +
                    '<strong>{{ 'sigtec.table.header.idle' | trans }}:</strong> ' + data.idle + '<br>' +
                    '<strong>{{ 'sigtec.production_level.percentage' | trans }}:</strong> ' + data.percentage + '<br>'
                    ;
        }
        function getTableExtraInfoSection2(data)
        {
            return  '<strong>{{ 'sigtec.table.header.separated_resin'|trans }}:</strong> ' + data.labels.separated_resin + '<br>' +
                    '<strong>{{ 'sigtec.table.header.total'|trans|raw }}:</strong> ' + data.total_area + '<br>' +
                    '<strong>{{ 'sigtec.table.header.covered'|trans|raw }}:</strong> ' + data.covered_area + '<br>';
        }
        function getTableExtraInfoSection4(data)
        {
            return  '<strong>{{ 'sigtec.table.header.requirement'|trans }}:</strong> ' + data.requirement + '<br>';
        }
             $(document).ready(function() {
            //Example for table extra info methos to override
            /**
            function getTableExtraInfo(data)
            {
                return  '<div class="float-right">' +
                        '<button type="submit" class="button glossy mid-margin-right">' +
                        '<span class="button-icon"><span class="icon-mail"></span></span>' +
                        'Send mail' +
                        '</button>' +
                        '<button type="submit" class="button glossy">' +
                        '<span class="button-icon red-gradient"><span class="icon-cross"></span></span>' +
                        'Remove' +
                        '</button>' +
                        '</div>' +
                        '<strong>Name:</strong> ' + data.name + '<br>' +
                        '<strong>Created at:</strong> ' + data.created_at + '<br>' +
                        '<strong>Updated at:</strong> ' + data.updated_at + '<br>'
                        ;
            }
            **/
           // Table extra info - styled
            $('.table-extra-info').on('click', 'tbody td', function(event)
            {
                // Do not process if something else has been clicked
                if (event.target !== this)
                {
                    return;
                }
                var tr = $(this).parent(),
                        row = tr.next('.row-drop'),
                        rows;
                        
                var getTableInfoFunction = tr.parent().parent().attr('get-table-info');
                
                // If click on a special row
                if (tr.hasClass('row-drop'))
                {
                    return;
                }

                // If there is already a special row
                if (row.length > 0)
                {
                    // Un-style row
                    tr.children().removeClass('anthracite-gradient glossy');

                    // Remove row
                    row.remove();

                    return;
                }

                // Remove existing special rows
                rows = tr.siblings('.row-drop');
                if (rows.length > 0)
                {
                    // Un-style previous rows
                    rows.prev().children().removeClass('anthracite-gradient glossy');

                    // Remove rows
                    rows.remove();
                }

                // Style row
                tr.children().addClass('anthracite-gradient glossy');
                var data = $.parseJSON(tr.attr('data'));
                
                // Add fake row
                if(getTableInfoFunction != undefined ){
                    var tableExtraInfo = eval(getTableInfoFunction)(data);
                }else{
                    var tableExtraInfo = getTableExtraInfo(data);
                }
                $('<tr class="row-drop">' +
                        '<td colspan="' + tr.children().length + '">' +
                        tableExtraInfo +
                        '</td>' +
                        '</tr>').insertAfter(tr);

            });
            
        });
            
    </script>
{% endblock javascript %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.message.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.wizard.js') }}"></script>
{% endblock javascripts_base %}
{% block javascripts %}
    <script src="{{ asset('bundles/coramersigtecweb/js/jquery.form.min.js') }}"></script>
    <!-- jQuery Form Validation -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/jquery.validationEngine3860.js?v=1') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/languages/jquery.validationEngine-' ~ app.request.locale ~ '3860.js?v=1') }}"></script>
{% endblock javascripts %}