{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/formLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
    <!-- jQuery Form Validation -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/developr.validationEngine3860.css?v=1') }}">
{% endblock stylesheets %}

{% block body -%}
    {{ form_errors(form) }}
    <div class="full-page-wizard" ng-controller="ReportTechnicalController">
	<form method="POST" id="form_company_report_technical" action="{{ path('coramer_sigtec_backend_company_report_technical_update',{ id:company_report_technical.id }) }}" class="block wizard same-height">
            <input ng-init="loadReportTechnical({{ company_report_technical.id }});" type="hidden" name="_method" value="PUT" />
		<h3 class="block-title breadcrumb">
                    <a href="{{ path('coramer_sigtec_backend_company_report_technical_index') }}">{{ 'sigtec.company.report_technical'|trans }}</a>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_show',{id:company_report_technical.company.id}) }}">{{ company_report_technical.company.rif }}</a></span>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_report_technical_show',{id:company_report_technical.id}) }}">{{ company_report_technical.archive }}</a></span>
                </h3>

		<fieldset class="wizard-fieldset fields-list">

                        <legend class="legend">{{ 'sigtec.professional_profile'|trans }}</legend>

			<div class="field-block">
				<h4>{{ 'sigtec.professional_profile'|trans }}</h4>
				<p>{{ 'sigtec.help.professional_profile.professional_profile'|trans({},'help') }}:</p>
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityProfessionals) }}
                                {{ form_widget(form.professionalProfile.quantityProfessionals) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_professionals'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityProfessionals) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityTechnical) }}
                                {{ form_widget(form.professionalProfile.quantityTechnical) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_technical'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityTechnical) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityLaborers) }}
                                {{ form_widget(form.professionalProfile.quantityLaborers) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_laborers'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityLaborers) }}
			</div>
			<div class="field-block button-height">
                                {{ form_label(form.professionalProfile.quantityOther) }}
                                {{ form_widget(form.professionalProfile.quantityOther) }}
                                <span class="info-spot">
                                        <span class="icon-info-round"></span>
                                        <span class="info-bubble">
                                                {{ 'sigtec.help.professional_profile.quantity_other'|trans({},'help') }}.
                                        </span>
                                </span>
                                {{ form_errors(form.professionalProfile.quantityOther) }}
			</div>
                        <div class="field-drop button-height black-inputs">
                            <label class="label"><b>{{ 'sigtec.total_employees'|trans }}</b></label>
                            <label><b>[[ reportTechnical.professional_profile.total ]]</b></label>
                        </div>
                        <div class="field-block">
                            <h4>{{ 'sigtec.description_of_the_business_areas'|trans }}</h4>
                            <p>{{ 'sigtec.help.description_of_the_business_areas.description_of_the_business_areas'|trans({},'help') }}:</p>
			</div>
                        <div class="field-block">
                            <table class="simple-table">
                                <tr>
                                    <th></th> 
                                    <th>Total m<sup>2</sup></th> 
                                    <th>Techada m<sup>2</sup></th>
                                </tr>
                                {% for plantDescription in form.descriptionAreaCompany.plantsDescription %}
                                    <tr>
                                        <td colspan="4">
                                            {{ form_widget(plantDescription.plant,{'attr':{'class': 'input-unstyled bold'} }) }}
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ plantDescription.area.descriptionArea.description.vars['value'] }}
                                            {% set dummy = plantDescription.area.descriptionArea.description.setRendered() %}
                                        </td> 
                                        <td>
                                            {{ form_widget(plantDescription.area.totalArea) }}
                                            {{ form_errors(plantDescription.area.totalArea) }}
                                        </td>
                                        <td>
                                            {{ form_widget(plantDescription.area.coveredArea) }}
                                            {{ form_errors(plantDescription.area.coveredArea) }}
                                        </td>
                                        <td>
                                            <span class="info-spot">
                                                <span class="icon-info-round"></span>
                                                <span class="info-bubble">
                                                    {{ plantDescription.area.descriptionArea.help.vars['value']|trans({},'help')|raw }}
                                                    {% set dummy = plantDescription.area.descriptionArea.help.setRendered() %}
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    {% for area in plantDescription.area.areas %}
                                        <tr>
                                            <td>
                                                {{ area.descriptionArea.description.vars['value'] }}
                                                {% set dummy = area.descriptionArea.description.setRendered() %}
                                            </td> 
                                            <td>
                                                {{ form_widget(area.totalArea) }}
                                                {{ form_errors(area.totalArea) }}
                                            </td>
                                            <td>
                                                {{ form_widget(area.coveredArea) }}
                                                {{ form_errors(area.coveredArea) }}
                                            </td>
                                            <td>
                                                <span class="info-spot">
                                                    <span class="icon-info-round"></span>
                                                    <span class="info-bubble">
                                                        {{ area.descriptionArea.help.vars['value']|trans({},'help')|raw }}
                                                        {% set dummy = area.descriptionArea.help.setRendered() %}
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">&nbsp;</td> 
                                    </tr>
                                {% endfor %}
                            </table>
                                
			</div>
                        <div class="field-block button-height wizard-controls align-right">

				<a href ng-click="save()" class="button glossy mid-margin-right">
                                    <span class="button-icon green-gradient"><span class="icon-tick"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save'|trans }}
				</a>
				<button type="submit" class="button glossy mid-margin-right">
					<span class="button-icon red-gradient glossy"><span class="icon-cross-round"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save_and_close'|trans }}
				</button>
                            {{ form_rest(form) }}
			</div>
		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend"></legend>

			<div class="field-block button-height">
				<small class="input-info">This is the name that will be displayed on profile page</small>
				<label for="login" class="label"><b>User login</b></label>
				<input type="text" name="login" id="login" value="" class="input validate[required,custom[onlyLetterNumber]]">
			</div>

			<div class="field-block button-height">
				<label for="file" class="label"><b>Avatar</b> (*.jpg)</label>
				<span class="input file"><span class="file-text"></span><span class="button compact">Select file</span><input type="file" name="file-input" id="file-input" value="" class="file withClearFunctions"></span>
				<small class="input-info">Max file size: 2MB</small>
			</div>

			<div class="field-drop button-height black-inputs">
				<label for="resize_height" class="label"><b>Resize height</b> (in px)</label>
				<span class="number input margin-right">
					<button type="button" class="button number-down">-</button>
					<input type="text" name="resize_height" id="resize_height" value="320" class="input-unstyled" data-number-options='{"min":100,"max":400}'>
					<button type="button" class="button number-up">+</button>
				</span>

				<input type="checkbox" name="crop" id="crop" class="switch medium" checked="checked"> &nbsp; <label for="crop">Enable crop</label>
			</div>
                        

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend"></legend>

			<div class="field-block button-height">
				<label for="mail" class="label"><b>Mail</b></label>
				<input type="text" name="mail" id="mail" value="" class="input validate[required,custom[email]]">
			</div>

			<div class="field-block button-height">
				<label for="twitter" class="label"><b>Twitter username</b></label>
				<input type="text" name="twitter" id="twitter" value="" class="input">
			</div>

			<div class="field-block button-height">
				<label for="mobile" class="label"><b>Mobile Phone</b></label>
				<input type="text" name="mobile" id="mobile" value="" class="input">
			</div>

			<div class="field-block button-height">
				<span class="label"><b>Address</b></span>
				<input type="text" name="street" id="street" value="" class="input" placeholder="Street"><br>
				<input type="text" name="zip_code" id="zip_code" value="" class="input" placeholder="Zip" size="3"> <input type="text" name="city" id="city" value="" class="input" placeholder="City"><br>
				<select name="country" class="select">
					<option value="USA">USA</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="Afghanistan">Afghanistan</option>
					
				</select>
			</div>

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Preferences</legend>

			<div class="field-block button-height">
				<label for="newsletter" class="label"><b>Subscribe to newsletter</b></label>
				<input type="checkbox" name="newsletter" id="newsletter" value="1" class="switch" checked data-text-on="YES" data-text-off="NO">
			</div>

			<div class="field-block button-height">
				<label for="newsletter_html" class="label"><b>Newsletter format</b></label>
				<input type="checkbox" name="newsletter_html" id="newsletter_html" value="1" class="switch wide orange-active" checked data-text-on="HTML" data-text-off="TEXT">
				<small class="input-info">If you are not sure, use HTML</small>
			</div>

			<div class="field-block button-height">
				<span class="label"><b>Mail notifications</b></span>
				<input type="checkbox" name="notifications[]" id="notifications_mention" value="mention" class="checkbox"> <label for="notifications_mention">When I am mentioned</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_message" value="message" class="checkbox"> <label for="notifications_message">When someone sends me a message</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_reply" value="reply" class="checkbox"> <label for="notifications_reply">When someone replies to one of my messages</label><br>
				<input type="checkbox" name="notifications[]" id="notifications_reviewed" value="reviewed" class="checkbox"> <label for="notifications_reviewed">When a new review is published on one of my products</label>
			</div>

			<div class="field-block button-height wizard-controls align-right">

				<button type="submit" class="button glossy mid-margin-right">
					<span class="button-icon"><span class="icon-tick"></span></span>
                                        {{ 'tecnocreaciones_vzla_government.save'|trans }}
				</button>

			</div>

		</fieldset>

	</form>

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>

		$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).bind('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			//centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
                        // Form validation
                        $('form').validationEngine();
		});

	</script>
        <script type="text/javascript">
        $.fn.wizard.defaults = {
		/**
		 * Default title for fieldsets without legend (use % as a placeholder for step's number)
		 * @var string
		 */
		defaultTitle: '{{ 'tecnocreaciones_vzla_government.step'|trans }} %',

		/**
		 * Structure for navigation buttons. Will be ignored for steps with a .wizard-controls block.
		 * @var string
		 */
		controlsWrapper: '<div class="field-block button-height wizard-controls clearfix"></div>',

		/**
		 * Previous button markup - must use class 'wizard-prev'
		 * @var string
		 */
		controlPrev: '<button type="button" class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{ 'tecnocreaciones_vzla_government.back'|trans }}</button>',

		/**
		 * Next button markup - must use class 'wizard-next'
		 * @var string
		 */
		controlNext: '<button type="button" class="button glossy mid-margin-right wizard-next float-right">{{ 'tecnocreaciones_vzla_government.next'|trans }}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>'
	};
    </script>
{% endblock javascript %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.message.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.wizard.js') }}"></script>
{% endblock javascripts_base %}
{% block javascripts %}
    <script src="{{ asset('bundles/coramersigtecweb/js/jquery.form.min.js') }}"></script>
    <!-- jQuery Form Validation -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/jquery.validationEngine3860.js?v=1') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/languages/jquery.validationEngine-' ~ app.request.locale ~ '3860.js?v=1') }}"></script>
{% endblock javascripts %}