{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'CoramerSigtecReportTechnicalBundle' %}

{% import 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
    <!-- jQuery Form Validation -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/developr.validationEngine3860.css?v=1') }}">
{% endblock stylesheets %}

{% block body -%}
    {{ form_errors(form) }}
    <div class="full-page-wizard" ng-controller="ReportTechnicalController">
	<form method="POST" id="form_company_report_technical" action="{{ path('coramer_sigtec_backend_company_report_technical_update',{ id:company_report_technical.id }) }}" class="block wizard same-height">
            <input ng-init="loadReportTechnical({{ company_report_technical.id }});" type="hidden" name="_method" value="PUT" />
		<h3 class="block-title breadcrumb">
                    <a href="{{ path('coramer_sigtec_backend_company_report_technical_client_index') }}">{{ 'sigtec.company.report_technical'|trans({},'messages') }}</a>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_show',{id:company_report_technical.company.id}) }}">{{ company_report_technical.company.rif }}</a></span>
                    <span class="icon-forward"></span>
                    <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_report_technical_show',{id:company_report_technical.id}) }}">{{ company_report_technical.archive }}</a></span>
                </h3>

		<fieldset class="wizard-fieldset fields-list">
                    <legend class="legend">{{ 'sigtec.professional_profile'|trans }}</legend>
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_step_1.html.twig' %}
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_buttons.html.twig' %}
		</fieldset>

		<fieldset class="wizard-fieldset fields-list">
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_step_2.html.twig' %}
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_buttons.html.twig' %}
		</fieldset>

		<fieldset class="wizard-fieldset fields-list">
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_step_3.html.twig' %}
                    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_buttons.html.twig' %}
		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Final</legend>

			{% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_step_4.html.twig' %}
                        {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/update/_buttons.html.twig' %}

		</fieldset>
                {{ form_rest(form) }}
                <div class="hide" style="display: none;">
                    <div id="div-template" ng-include="template.url" onload="templateLoad(template)" ></div>
                    <div id="div-template-no-cache" ng-include="template_no_cache.url" onload="templateLoadNoCache(template_no_cache)" ></div>
                </div>
	</form>

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>

		$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).bind('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			//centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
                        // Form validation
                        $('form').validationEngine();
		});

	</script>
        <script type="text/javascript">
        $.fn.wizard.defaults = {
		/**
		 * Default title for fieldsets without legend (use % as a placeholder for step's number)
		 * @var string
		 */
		defaultTitle: '{{ 'tecnocreaciones_vzla_government.step'|trans({},'messages') }} %',

		/**
		 * Structure for navigation buttons. Will be ignored for steps with a .wizard-controls block.
		 * @var string
		 */
		controlsWrapper: '<div class="field-block button-height wizard-controls clearfix"></div>',

		/**
		 * Previous button markup - must use class 'wizard-prev'
		 * @var string
		 */
		controlPrev: '<button type="button" class="button glossy mid-margin-right wizard-prev float-left"><span class="button-icon anthracite-gradient"><span class="icon-backward"></span></span>{{ 'tecnocreaciones_vzla_government.back'|trans({},'messages') }}</button>',

		/**
		 * Next button markup - must use class 'wizard-next'
		 * @var string
		 */
		controlNext: '<button type="button" class="button glossy mid-margin-right wizard-next float-right">{{ 'tecnocreaciones_vzla_government.next'|trans({},'messages') }}<span class="button-icon right-side"><span class="icon-forward"></span></span></button>'
	};
        
        $.modal.defaults.showFormOptions.textCancel = '{{ 'sigtec.cancel'|trans({},'messages') }}';
        $.modal.defaults.showFormOptions.textSubmit = '{{ 'sigtec.save'|trans({},'messages') }}';
    </script>
    {% include 'CoramerSigtecWebBundle:Backend:ReportTechnical/Javascripts/_tableInfo.html.twig' %}
{% endblock javascript %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.message.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.wizard.js') }}"></script>
{% endblock javascripts_base %}
{% block javascripts %}
    <script src="{{ asset('bundles/coramersigtecweb/js/jquery.form.min.js') }}"></script>
    <!-- jQuery Form Validation -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/jquery.validationEngine3860.js?v=1') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/languages/jquery.validationEngine-' ~ app.request.locale ~ '3860.js?v=1') }}"></script>
{% endblock javascripts %}