{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Plant</h1>
    {{ company_plant.company.rif }}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company_plant.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company_plant.email }}</td>
            </tr>
            <tr>
                <th>Phones</th>
                <td>
                    {% for phone in company_plant.phones %}
                        {{ phone.number }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Useplant</th>
                <td>
                    {% for dedication in company_plant.dedications %}
                        {{ dedication.description }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company_plant.address }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ company_plant.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ company_plant.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</ul>
{% endblock %}
