{% trans_default_domain 'CoramerSigtecReportTechnicalBundle' %}

{# Seccion 4 #}
<div class="field-block">
    <h3>4) {{ 'sigtec.description_of_products_manufactured.description_of_products_manufactured'|trans }}</h3>
    <p>{{ 'sigtec.help.description_of_products_manufactured.description_of_products_manufactured'|trans({},'help') }}</p>
</div>
<div class="field-block">
    <table class="simple-table table-responsive table-extra-info" get-table-info="getTableExtraInfoSection4" >
        <tr>
            <th>{{ 'sigtec.table.header.process'|trans }}</th>
            <th>{{ 'sigtec.table.header.product'|trans }}</th>
            <th>{{ 'sigtec.table.header.resin'|trans }}</th>
            <th>{{ 'sigtec.table.header.grade'|trans|raw }}</th> 
            <th>&nbsp;</th>
        </tr>
        <tr ng-hide="reportTechnical.products_manufactured">
            <td colspan="5" class="bold text-center">&nbsp;</td>
        </tr>
        <tr ng-hide="reportTechnical.products_manufactured">
            <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.product_manufactured'|trans }}</td>
        </tr>
        <tr ng-hide="reportTechnical.products_manufactured">
            <td colspan="5" class="bold text-center">&nbsp;</td>
        </tr>
        <tr ng-repeat="product_manufactured in reportTechnical.products_manufactured" data="[[ product_manufactured|json ]]">
            <td><a href ng-click="addProductManufactured(product_manufactured)" >[[ product_manufactured.process.description ]]</a></td>
            <td>[[ product_manufactured.product.description ]]</td>
            <td>[[ product_manufactured.grade.resin.description ]]</td>
            <td>[[ product_manufactured.grade.description ]]</td>
            <td>
                <span class="button-group compact">
                    <a href ng-click="itemDelete(product_manufactured._links.delete.href,reportTechnicalManager.reload().productManufactured)" class="button icon-trash with-tooltip confirm" title="{{ 'sigtec.delete'|trans }}"></a>
                </span>
            </td>
        </tr>
    </table>
    <br/>    
    <p class="button-height align-right">
        <a href ng-click="addProductManufactured()" class="button glossy mid-margin-right">
            <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
            {{ 'sigtec.button.add_detail'|trans }}
        </a>
    </p>
</div>
{# Seccion 5 #}
<div class="field-block">
    <h3>5) {{ 'sigtec.additives_used_in_the_process.additives_used_in_the_process'|trans }}</h3>
    <p>{{ 'sigtec.help.additives_used_in_the_process.additives_used_in_the_process'|trans({},'help') }}</p>
</div>
<div class="field-block">
    <table class="simple-table table-responsive table-extra-info" get-table-info="getTableExtraInfoSection5" >
        <tr>
            <th>{{ 'sigtec.table.header.additive'|trans }}</th>
            <th>{{ 'sigtec.table.header.product'|trans }}</th>
            <th>{{ 'sigtec.table.header.base_polymer'|trans }}</th>
            <th>{{ 'sigtec.table.header.mark'|trans }}</th> 
            <th>&nbsp;</th>
        </tr>
        <tr ng-hide="reportTechnical.additives_used">
            <td colspan="5" class="bold text-center">&nbsp;</td>
        </tr>
        <tr ng-hide="reportTechnical.additives_used">
            <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.additive_used'|trans }}</td>
        </tr>
        <tr ng-hide="reportTechnical.additives_used">
            <td colspan="5" class="bold text-center">&nbsp;</td>
        </tr>
        <tr ng-repeat="additive_used in reportTechnical.additives_used" data="[[ additive_used|json ]]">
            <td><a href ng-click="addAdditiveUsed(additive_used)" >[[ additive_used.additive.description ]]</a></td>
            <td>[[ additive_used.product.description ]]</td>
            <td>[[ additive_used.base_polymer ]]</td>
            <td>[[ additive_used.mark ]]</td>
            <td>
                <span class="button-group compact">
                    <a href ng-click="itemDelete(additive_used._links.delete.href,reportTechnicalManager.reload().additiveUsed)" class="button icon-trash with-tooltip confirm" title="{{ 'sigtec.delete'|trans }}"></a>
                </span>
            </td>
        </tr>
    </table>
    <br/>    
    <p class="button-height align-right">
        <a href ng-click="addAdditiveUsed()" class="button glossy mid-margin-right">
            <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
            {{ 'sigtec.button.add_detail'|trans }}
        </a>
    </p>
</div>
{# Seccion 6 #}
<div class="field-block">
    <h3>6) {{ 'sigtec.other_plastic_resins.other_plastic_resins'|trans }}</h3>
    <p>{{ 'sigtec.help.other_plastic_resins.other_plastic_resins'|trans({},'help') }}</p>
</div>
<div class="field-block">
    {{ 'sigtec.help.other_plastic_resins.do_you_use_other_different_plastic_resins'|trans({},'help') }}
    <input type="checkbox" ng-model="reportTechnical.other_plastic_resin.use_other_plastic_resins" class="mid-margin-left">
    <br />
    <br />
    <div ng-show="reportTechnical.other_plastic_resin.use_other_plastic_resins" >
        <table class="simple-table table-responsive table-extra-info" get-table-info="getTableExtraInfoSection6" >
            <tr>
                <th>{{ 'sigtec.table.header.process'|trans }}</th>
                <th>{{ 'sigtec.table.header.product'|trans }}</th>
                <th>{{ 'sigtec.table.header.resin'|trans }}</th>
                <th>{{ 'sigtec.table.header.grade'|trans }}</th> 
                <th>&nbsp;</th>
            </tr>
            <tr ng-hide="reportTechnical.other_plastic_resin.detail_others_plastic_resin">
                <td colspan="5" class="bold text-center">&nbsp;</td>
            </tr>
            <tr ng-hide="reportTechnical.other_plastic_resin.detail_others_plastic_resin">
                <td colspan="5" class="bold text-center">{{ 'sigtec.table.content.empty.other_plastic_resin'|trans }}</td>
            </tr>
            <tr ng-hide="reportTechnical.other_plastic_resin.detail_others_plastic_resin">
                <td colspan="5" class="bold text-center">&nbsp;</td>
            </tr>
            <tr ng-repeat="other_plastic_resin in reportTechnical.other_plastic_resin.detail_others_plastic_resin" data="[[ other_plastic_resin|json ]]">
                <td><a href ng-click="addDetailOtherPlasticResin(other_plastic_resin)" >[[ other_plastic_resin.process.description ]]</a></td>
                <td>[[ other_plastic_resin.product.description ]]</td>
                <td>[[ other_plastic_resin.resin.description ]]</td>
                <td>[[ other_plastic_resin.grade ]]</td>
                <td>
                    <span class="button-group compact">
                        <a href ng-click="itemDelete(other_plastic_resin._links.delete.href,reportTechnicalManager.reload().detailOtherPlasticResin)" class="button icon-trash with-tooltip confirm" title="{{ 'sigtec.delete'|trans }}"></a>
                    </span>
                </td>
            </tr>
        </table>
        <br/>    
        <p class="button-height align-right">
            <a href ng-click="addDetailOtherPlasticResin()" class="button glossy mid-margin-right">
                <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                {{ 'sigtec.button.add_detail'|trans }}
            </a>
        </p>
    </div>
</div>
