{% extends '::base.html.twig' %}
{% block stylesheets %}
    <!-- Additional styles -->
    <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/form3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/switches3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/table3860.css?v=1') }}">
    
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/js/libs/DataTables/jquery.dataTables3860.css?v=1') }}">
{% endblock %}
{% block body -%}
    <h1>Company list</h1>
    
    <table class="records_list" id="example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rif</th>
                <th>Validated</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        
    </table>

        <ul>
        <li>
            <a href="{{ path('coramer_sigtec_company_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

{% block javascripts %}
    <!-- Template functions -->
    <script src="{{ asset('bundles/coramersigtecweb/frontend/js/developr.table.js') }}"></script>
    
    <!-- Plugins -->
    <script src="{{ asset('bundles/coramersigtecweb/frontend/js/libs/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ asset('bundles/coramersigtecweb/frontend/js/libs/DataTables/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function() {
            $('#example').dataTable( {
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "../examples_support/server_processing.php"
            } );
    } );
</script>
{% endblock %}