{% extends 'CoramerSigtecWebBundle:Backend:Common/formLayoutShow.html.twig' %}

{% import 'CoramerSigtecResourceBundle:Macros:buttons.html.twig' as buttons %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/coramersigtecweb/frontend/css/styles/table3860.css?v=1') }}">
{% endblock %}

{% block body -%}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('coramer_sigtec_backend_company_index') }}">{{ 'sigtec.company'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin"><a href="{{ path('coramer_sigtec_backend_company_show',{id:company.id}) }}">{{ company.rif }}</a></span>
        </h1>
    </hgroup>
    <fieldset class="fieldset">
        <legend class="legend">{{ 'sigtec.details'|trans }}</legend>

        <p class="inline-label">
            <label class="label">{{ 'sigtec.name'|trans }}</label>
            {{ company.name }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.rif'|trans }}</label>
            {{ company.rif }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.email'|trans }}</label>
            {{ company.email }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.rif_validated'|trans }}</label>
            {% if company.rifValidated %}
                <small class="tag green-bg">{{ 'sigtec.yes'|trans }}</small> 
            {% else %}
                <small class="tag red-bg">{{ 'sigtec.no'|trans }}</small>
            {% endif %}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.status'|trans }}</label>
            {% if company.status %}
                <small class="tag green-bg">{{ 'sigtec.active'|trans }}</small> 
            {% else %}
                <small class="tag red-bg">{{ 'sigtec.inactive'|trans }}</small>
            {% endif %}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.created_at'|trans }}</label>
            {{ company.createdAt|date('Y-m-d h:i a') }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.updated_at'|trans }}</label>
            {{ company.updatedAt|date('Y-m-d h:i a') }}
        </p>
    </fieldset>

    <div class="block">
        <div class="block-title">
            <h3>{{ 'sigtec.plants'|trans }}</h3>
            <div class="button-group absolute-right compact">
                <a href="{{ path('coramer_sigtec_backend_company_plant_create', { 'company_id': company.id }) }}" class="button icon-list-add">{{ 'sigtec.add'|trans }}</a>
            </div>
        </div>
        <div class="with-padding">
            <table class="simple-table responsive-table" id="table-plants">
                <thead>
                    <tr>
                        <th scope="col">{{ 'sigtec.address'|trans }}</th>
                        <th scope="col" width="15%" class="hide-on-mobile">{{ 'sigtec.email'|trans }}</th>
                        <th scope="col" width="15%" class="hide-on-mobile-portrait">{{ 'sigtec.phones'|trans }}</th>
                        <th scope="col" width="15%" class="hide-on-tablet">{{ 'sigtec.dedications'|trans }}</th>
                        <th scope="col" width="120" class="align-right">{{ 'sigtec.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for plant in company.plants %}
                    <tr id="table-row-{{ plant.id }}">
                        <th scope="row">
                            <small>{{ plant.name }}:</small>
                            <a href="{{ path('coramer_sigtec_backend_company_plant_show',{id:plant.id}) }}">{{ plant.address }}</a>
                        </th>
                        <td>{{ plant.email }}</td>
                        <td>
                            {% for phone in plant.phones %}
                                {{ phone.number }}<b>; </b>
                            {% endfor %}
                        </td>
                        <td>
                            {% for dedication in plant.dedications %}
                                {{ dedication.description }}<b>; </b>
                            {% endfor %}
                        </td>
                        <td class="align-right vertical-center">
                            <span class="button-group compact">
                                <a href="{{ path('coramer_sigtec_backend_company_plant_update',{id:plant.id}) }}" class="button icon-pencil">{{ 'sigtec.edit'|trans }}</a>
                                {{ buttons.delete_mini(path('coramer_sigtec_backend_company_plant_delete',{id:plant.id}),null,plant.id) }}
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td scope="row" colspan="5" class="align-center">
                            {{ 'sigtec.no_plants_recorded'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="block">
        <div class="block-title">
            <h3>{{ 'sigtec.contacts'|trans }}</h3>
            <div class="button-group absolute-right compact">
                <a href="{{ path('coramer_sigtec_backend_company_contact_create', { 'company_id': company.id }) }}" class="button icon-list-add">{{ 'sigtec.add'|trans }}</a>
            </div>
        </div>
        <div class="with-padding">
            <table class="simple-table responsive-table" id="table-plants">
                <thead>
                    <tr>
                        <th scope="col">{{ 'sigtec.first_name'|trans }}</th>
                        <th scope="col" width="30%" class="hide-on-tablet">{{ 'sigtec.charge'|trans }}</th>
                        <th scope="col" width="120" class="align-right">{{ 'sigtec.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for contact in company.contacts %}
                    <tr id="table-row-{{ contact.id }}">
                        <th scope="row">
                            <a href="{{ path('coramer_sigtec_backend_company_contact_show',{id:contact.id}) }}">{{ contact.firstName }} {{ contact.lastName }}</a>
                        </th>
                        <td>
                            {{ contact.charge }}
                        </td>
                        <td class="align-right vertical-center">
                            <span class="button-group compact">
                                <a href="{{ path('coramer_sigtec_backend_company_contact_update',{id:contact.id}) }}" class="button icon-pencil">{{ 'sigtec.edit'|trans }}</a>
                                {{ buttons.delete_mini(path('coramer_sigtec_backend_company_contact_delete',{id:contact.id}),null,contact.id) }}
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td scope="row" colspan="5" class="align-center">
                            {{ 'sigtec.no_contacts_recorded'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <p class="button-height align-right">
        {{ buttons.edit(path('coramer_sigtec_backend_company_update', { 'id': company.id })) }}
        {{ buttons.delete(path('coramer_sigtec_backend_company_delete', { 'id': company.id })) }}
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/coramersigtecweb/frontend/js/libs/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block javascript %} 
    {{ parent() }}
    <script type="text/javascript">
        $('#table-plants').tablesorter({
            headers: {
                4: {sorter: false}
            }
        });
    </script>
{% endblock %}