{% extends 'CoramerSigtecWebBundle:Backend:Common/formLayoutShow.html.twig' %}

{% import 'CoramerSigtecResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block body -%}
    <hgroup id="main-title" class="thin">
        <h1>{{ 'sigtec.company'|trans }}</h1>
    </hgroup>
    <fieldset class="fieldset">
        <legend class="legend">{{ 'sigtec.details'|trans }}</legend>

        <p class="inline-label">
            <label class="label">{{ 'sigtec.name'|trans }}</label>
            {{ company.name }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.rif'|trans }}</label>
            {{ company.rif }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.rif_validated'|trans }}</label>
            {% if company.rifValidated %}
                <small class="tag green-bg">{{ 'sigtec.yes'|trans }}</small> 
            {% else %}
                <small class="tag red-bg">{{ 'sigtec.no'|trans }}</small>
            {% endif %}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.status'|trans }}</label>
            {% if company.status %}
                <small class="tag green-bg">{{ 'sigtec.active'|trans }}</small> 
            {% else %}
                <small class="tag red-bg">{{ 'sigtec.inactive'|trans }}</small>
            {% endif %}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.created_at'|trans }}</label>
            {{ company.createdAt|date('Y-m-d H:i:s') }}
        </p>
        <p class="inline-label">
            <label class="label">{{ 'sigtec.updated_at'|trans }}</label>
            {{ company.updatedAt|date('Y-m-d H:i:s') }}
        </p>
    </fieldset>
    <p class="button-height">
        {{ buttons.edit(path('coramer_sigtec_company_edit', { 'id': company.id })) }}
        {{ buttons.delete() }}
    </p>
{% endblock %}
