{% import 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/Macros/actions.html.twig' as actions %}
<fieldset class="fieldset fields-list">
    <legend class="legend">{{ 'sigtec.contact'|trans }}</legend>
    
    <div class="field-block button-height">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
        {{ form_errors(form.firstName) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
        {{ form_errors(form.lastName) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.charge) }}
        {{ form_widget(form.charge) }}
        {{ form_errors(form.charge) }}
    </div>
    {% if action == 'create' %}
        {{ actions.create() }}
    {% elseif action == 'update' %}
        {{ actions.update() }}
    {% endif %}
</fieldset>
{{ form_rest(form) }}