{% trans_default_domain 'CoramerSigtecReportTechnicalBundle' %}
<form id="form_pop_up" method="POST" action="[[ reportTechnicalHelper.form.action.url ]]">
<fieldset class="fieldset fields-list">
    <legend class="legend">{{ 'sigtec.growth_potential.other_market.other_market'|trans }}</legend>
    <div class="field-block button-height">
        {{ form_label(form.segment) }}
        {{ form_widget(form.segment) }}
        <span class="info-spot">
            <span class="icon-info-round"></span>
            <span class="info-bubble">
                {{ 'sigtec.help.growth_potential.other_market.segment'|trans({},'help') }}
            </span>
        </span>
        {{ form_errors(form.segment) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.subSegment) }}
        {{ form_widget(form.subSegment) }}
        <span class="info-spot">
            <span class="icon-info-round"></span>
            <span class="info-bubble">
                {{ 'sigtec.help.growth_potential.other_market.sub_segment'|trans({},'help') }}
            </span>
        </span>
        {{ form_errors(form.subSegment) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.motive) }}
        {{ form_widget(form.motive) }}
        {{ form_errors(form.motive) }}
    </div>
</fieldset>
{{ form_rest(form) }}
</form>
<script>
    jQuery('#form_pop_up').validationEngine({showOneMessage:true});
</script>